<table border="0" cellspacing="0" cellpading="0" style="border: 2px solid #575a5c; background:#2b2d2e; padding: 8px;white-space:nowrap;width:380px!important;">
    <tr>
        <td style="white-space:nowrap;vertical-align:middle;width:113px"><img src="https://secure.gravatar.com/avatar/88bc24edc63e02c936bd59c678abb42a.png?d=identicon&r=PG&s=100" style="white-space:nowrap;border-right:1px solid #f1f1f1;padding-right: 12px;height: 100px"></td>
        <td style="white-space:nowrap;font-family:Trebuchet MS, Helvetica, Arial;padding-left: 10px;font-size: 14px;vertical-align:middle;white-space:nowrap">
            <h1 style="white-space:nowrap;font-size:18px; color:#dbc1c1;line-height: 1;margin: 0 0 8px 0">Rubén Expósito</h1>
            <h4 style="white-space:nowrap;font-size:14px; color:#ede0e0;line-height: 1;margin: 0 0 8px 0;font-weight: 400;">Mobile App Developer | Freelancer</h4>
            <h6 style="white-space:nowrap;font-size:14px; color:#999;line-height: 1;margin: 0;font-weight: 400;"><a href="mailto:ruben@raeve.xyz" style="white-space:nowrap;text-decoration: none; color: #999">ruben@raeve.xyz</a></h6>
            <div style="white-space:nowrap;margin-top: 8px">
                <a style="white-space:nowrap;display:inline-block;" href="https://github.com/raeve92">
                    <img style="white-space:nowrap;width: 32px;height:32px;" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_circle_gray-32.png">
                </a>
                <a style="white-space:nowrap;display:inline-block;border-right: 1px solid #f1f1f1;padding-right: 5px" href="https://www.linkedin.com/in/rub%C3%A9n-exp%C3%B3sito-fari%C3%B1a-5112a5b2/">
                    <img style="white-space:nowrap;width: 32px;height:32px;" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_gray-32.png">
                </a>
                <a style="white-space:nowrap;display:inline-block;" href="https://twitter.com/raeve92">
                    <img style="white-space:nowrap;width: 32px;height:32px;" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_gray-32.png">
                </a>
            </div>
        </td>
    </tr>
</table>